@import "./vendor/bulma/utilities/initial-variables.sass";
@import "./vendor/bulma/utilities/functions.sass";

$navbar-height: 6.5rem;
$navbar-item-img-max-height: 4.5rem;
$dimensions: 16 24 32 48 64 96 128 192 256 384 512 768 1024 1536 2048;

@import "./vendor/bulma/utilities/_all";
@import "./vendor/bulma/base/_all";
@import "./vendor/bulma/elements/_all";
@import "./vendor/bulma/components/_all";
@import "./vendor/bulma/grid/_all";
@import "./vendor/bulma/layout/_all";

@import "./vendor/fontello/css/fontello";
@import "./vendor/fontello/css/fontello-codes";
@import "./vendor/fontello/css/fontello-embedded";
