<footer class="footer">
  <div class="container">
    <% logos = ["eost", "resif", "unistra", "cnrs"] %>
    <div class="level">
      <%= for logo <- logos do %>
      <div class="level-item has-text-centered">
        <figure class="level-item image is-128x128">
          <img src="<%= Routes.static_path(@conn, "/images/logo-#{logo}.svg") %>">
        </figure>
      </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column has-text-left has-text-centered-mobile">
        <ul>
          <li><%= gettext("Actors") |> link(to: Routes.page_path(@conn, :actors, @locale)) %></li>
          <li><%= gettext("Contact") |> link(to: Routes.page_path(@conn, :contact, @locale)) %></li>
        </ul>
      </div>
      <div class="column">
        <% locales = ["fr", "en"] %>
        <div class="buttons has-addons is-centered">
          <%= for locale <- locales do %>
            <a class="button <%= if locale == @locale do %>is-link<% end %>" href="<%= change_locale_url(@conn.request_path, locale) %>">
              <%= String.upcase(locale) %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <ul>
          <li><%= gettext("About") |> link(to: Routes.page_path(@conn, :page, @locale, "about")) %></li>
          <li><%= gettext("Webservices") |> link(to: Routes.page_path(@conn, :page, @locale, "webservices")) %></li>
          <li><%= gettext("Legal notice") |> link(to: Routes.page_path(@conn, :page, @locale, "legal-notice")) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
