<div class="field">
  <%= Web.Bulma.label(@label) %>
  <div class="control">
    <div class="control is-expanded has-icons-left">
      <div class="select is-fullwidth">
        <%= select(@form, @id, @options) %>
      </div>
      <div class="icon is-small is-left">
        <i class="fas fa-<%= @icon %>"></i>
      </div>
    </div>
  </div>
</div>
