<%= @question.text %>

<%# <%= form_for @changeset, locale_testimony_question_path(@conn, :form_proceed, @conn.params["locale"], @conn.params["testimony_key"]), fn f -> %1> %>
<%= form_for @changeset, Routes.testimony_question_path(@conn, :form_proceed, @conn.params["locale"], @conn.params["testimony_key"]), fn f -> %>

<input type="hidden" name="answer[testimony_id]" value=<%= @conn.params["testimony_key"] %>>

<%= for {choice, idx} <- Enum.with_index(@question.question_choices) do %>
    <%= if @question.type == "integer" do %>
        <p>
            <input id="<%= choice.id %>" class="input" name="answer[value]" type="number" value="0">
        </p>
    <% else %>
        <%= if choice.value == nil do %>
            <p>
                <input id="<%= choice.id %>" class="input" name="answer[value]" type="text" value="">
            </p>
        <% else %>
            <p>
                <input id="<%= choice.id %>" class="radio" name="answer[question_choice_id]" type="radio" value="<%= choice.id %>" <%= if idx == 0 do %> checked <% end %> >
                <label for="<%= choice.id %>"><%= choice.value %></label>
            </p>
        <% end %>
    <% end %>

<% end %>

<button id="previous_button" type="submit" name="direction" value="previous" class="button is-light"/>
<label for="previous_button">Précédent</label>

<button id="next_button" type="submit" name="direction" value="next" class="button is-light"/>

</input>
<label for="next_button">Suivant</label>


<% end %>
