<%
  event_local_datetime = Event.get_localtime(@event)
  translated_event_type =
  if @event.event_type do
    Gettext.dgettext(Web.Gettext, "event_types", @event.event_type) |> String.capitalize()
  else
    "Event"
  end
%>
<section class="section">
  <div class="container">
    <%= if get_flash(@conn, :event_merged_id) do %>
    <article class="message is-warning">
      <div class="message-header">
        <p><%= gettext "Event merged" %></p>
      </div>
      <div class="message-body">
        <%= gettext("You have been redirected from Event #%{event_id} to this event as they were merged.", event_id: get_flash(@conn, :event_merged_id)) %>
      </div>
    </article>
    <% end %>
    <article>
      <div class="columns is-multiline">
        <div class="column">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
              <%= if @zone do %><li><a href="<%= Routes.page_path(@conn,:zone, @locale, @zone.slug) %>"><%= @zone.name %></a></li><% end %>
              <li class="is-active"><a href="#"><%= gettext "Event #%{event_id}", event_id: @event.id %></a></li>
            </ul>
          </nav>
          <div class="content">
            <%= if @event.preferred_origin.automatic do %>
              <article class="message is-warning">
                <div class="message-body">
                  <i class="fas fa-exclamation-circle is-medium"></i>
                  <%= gettext "This event was automatically detected and need to be confirmed by one of our analysts." %>
                </div>
              </article>
            <% else %>
              <article class="message is-success">
                <div class="message-body">
                  <i class="fas fa-check-circle is-medium"></i>
                  <%= gettext "This event was reviewed by an analyst and confirmed." %>
                </div>
              </article>
            <% end %>
            <table class="table is-striped is-hoverable">
              <tbody>
                <tr>
                  <td><%= gettext "Local datetime" %></td>
                  <td><%= format_date(event_local_datetime, @locale) %> <%= format_time(event_local_datetime) %></td>
                </tr>
                <tr>
                  <td><%= gettext "Latitude" %></td>
                  <td><%= format_latitude(@event.preferred_origin.latitude) %></td>
                </tr>
                <tr>
                  <td><%= gettext "Longitude" %></td>
                  <td><%= format_longitude(@event.preferred_origin.longitude) %></td>
                </tr>
                <tr>
                  <td><%= gettext "Magnitude" %></td>
                  <td><%= format_magnitude(@event.preferred_magnitude.magnitude) %> <%= @event.preferred_magnitude.magnitude_type %></td>
                </tr>
                <tr>
                  <td><%= gettext "Type" %></td>
                  <td><%= translated_event_type || "Not defined yet" %></td>
                </tr>
              </tbody>
            </table>
            <div class="message is-info">
              <div class="message-header">
                <p><%= gettext "Have you felt this event ?" %></p>
              </div>
              <div class="message-body">
                <p><%= gettext "You can participate to science by bringing your testimony." %></p>
                <a class="button" href="http://www.franceseisme.fr/formulaire/index.php?IdSei=0">
                  <span class="icon">
                    <i class="fas fa-pen-alt"></i>
                  </span>
                  <span>
                    <%= gettext "Testify" %>
                  </span>
                </a>
              </div>
            </div>
            <%# <div class="has-text-centered"> %>
            <%#   <a> %>
            <%#     <span class="icon is-large has-text-dark"> %>
            <%#       <i class="fab fa-2x fa-twitter"></i> %>
            <%#     </span> %>
            <%#   </a> %>
            <%#   <a> %>
            <%#     <span class="icon is-large has-text-dark"> %>
            <%#       <i class="fab fa-2x fa-facebook"></i> %>
            <%#     </span> %>
            <%#   </a> %>
            <%#   <a> %>
            <%#     <span class="icon is-large has-text-dark"> %>
            <%#       <i class="fab fa-2x fa-instagram"></i> %>
            <%#     </span> %>
            <%#   </a> %>
            <%#   <a> %>
            <%#     <span class="icon is-large has-text-dark"> %>
            <%#       <i class="fab fa-2x fa-whatsapp"></i> %>
            <%#     </span> %>
            <%#   </a> %>
            <%#   <a> %>
            <%#     <span class="icon is-large has-text-dark"> %>
            <%#       <i class="fab fa-2x fa-discord"></i> %>
            <%#     </span> %>
            <%#   </a> %>
            <%# </div> %>
          </div>
        </div>
        <div class="column">
          <div class="box has-background-link image is-1by1" id="map-event-id-<%= @event.id %>">

          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        <div id="tabs-with-content" class="column">
          <div class="tabs is-boxed is-centered is-medium">
            <ul>
              <li>
                <a>
                  <span class="icon"><i class="fas fa-city"></i></span>
                  <span><%= gettext "Near cities" %></span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon"><i class="fas fa-water"></i></span>
                  <span><%= gettext "Seismogram" %></span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon"><i class="fas fa-file-contract"></i></span>
                  <span><%= gettext "Event details" %></span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon"><i class="fas fa-history"></i></span>
                  <span><%= gettext "Past seismicity" %></span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <section class="tab-content is-active">
              <article class="message is-info">
                <div class="message-body">
                  <i class="fas fa-info-circle is-medium"></i>
                  <%= gettext "This table only show the %{cities_count} more populated cities around the epicenter.", cities_count: length(@near_cities) %>
                </div>
              </article>
              <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>
                      <%= gettext "Name" %>
                    </th>
                    <th>
                      <%= gettext "Distance" %> (km)
                    </th>
                    <th>
                      <%= gettext "Population" %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <%= for city <- @near_cities do %>
                    <tr>
                      <th><%= city.name %> <%= country_flag(@conn, city.country_iso2) %></th>
                      <td><%= city.distance |> round %></td>
                      <td><%= city.population %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
            <section class="tab-content is-active">
              <%= gettext "Work in progress" %>
            </section>
            <section class="tab-content is-active">
              <div class="content">
                <h1>Webservices</h1>
                <%= gettext("The data of this event are available in various formats (QuakeML, GeoJSON and text) through our webservices on this %{link}.", link: safe_to_string(link(gettext("page"), to: @search_link))) |> raw() %>
                <h1>Parameters</h1>
                <div class="columns">
                  <div class="column">
                    <table class="table is-fullwidth is-hoverable">
                      <tbody>
                        <tr>
                          <th>Event ID</th>
                          <td><%= @event.id %></td>
                        </tr>
                        <tr>
                          <th>UTC Datetime</th>
                          <td><%= format_date(@event.preferred_origin.time, @locale) %> <%= format_time(@event.preferred_origin.time) %></td>
                        </tr>
                        <tr>
                          <th>Latitude</th>
                          <td><%= @event.preferred_origin.latitude %></td>
                        </tr>
                        <tr>
                          <th>Longitude</th>
                          <td><%= @event.preferred_origin.longitude %></td>
                        </tr>
                        <tr>
                          <th>Depth</td>
                          <td><%= format_depth(@event.preferred_origin.depth) %></td>
                        </tr>
                        <tr>
                          <th>Depth type</td>
                          <td><%= @event.preferred_origin.depth_type %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="column">
                    <table class="table is-fullwidth is-hoverable">
                      <tbody>
                        <tr>
                          <th>Catalog</th>
                          <td><%= gettext "Work in progress" %></td>
                        </tr>
                        <tr>
                          <th>Evaluation status</th>
                          <td><%= @event.preferred_origin.evaluation_status %></td>
                        </tr>
                        <tr>
                          <th>RMS</th>
                          <td><%= format_two_digits(@event.preferred_origin.quality.standard_error) %></td>
                        </tr>
                        <tr>
                          <th>Azimuthal gap</th>
                          <td><%= format_two_digits(@event.preferred_origin.quality.azimuthal_gap) %>&deg</td>
                        </tr>
                        <tr>
                          <th>Used station count</td>
                          <td><%= @event.preferred_origin.quality.used_station_count %></td>
                        </tr>
                        <tr>
                          <th>Used phased count</td>
                          <td><%= @event.preferred_origin.quality.used_phase_count %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
                <h1>Phases</h1>
                <table class="table is-fullwidth is-striped is-hoverable">
                  <thead>
                    <tr>
                      <th>Network</th>
                      <th>Station</th>
                      <th>Phase</th>
                      <th>Time</th>
                      <th>Residual (s)</th>
                      <th>Azimuth (&deg)</th>
                      <th>Distance (&deg)</th>
                      <th>Mode</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= for arrival <- @arrivals do %>
                      <tr>
                        <td><%= arrival.pick.stream.network_code %></td>
                        <td><%= arrival.pick.stream.station_code %></td>
                        <td><%= arrival.phase_code %></td>
                        <td><%= format_time(arrival.pick.time) %></td>
                        <td><%= format_two_digits(arrival.time_residual) %></td>
                        <td><%= format_two_digits(arrival.azimuth) %></td>
                        <td><%= format_two_digits(arrival.distance) %></td>
                        <td><%= if arrival.pick.automatic do %>automatic<% else %>manual<% end %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </section>
            <section class="tab-content is-active">
              <% latitude = @event.preferred_origin.latitude %>
              <% longitude = @event.preferred_origin.longitude %>
              <div class="columns is-multiline">
                <div class="column">
                  <div class="box has-background-link image is-1by1" id="map-event-id-<%= @event.id %>-past-seismicity"></div>
                  <article class="message is-info">
                    <div class="message-body">
                      <i class="fas fa-check-circle is-medium"></i>
                      <%= gettext "This map shows only the %{event_count} more significant earthquakes around the current event.", event_count: length(@past_seismicity) %>
                    </div>
                  </article>
                </div>
                <div class="column">
                  <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                      <tr>
                        <th>
                          <%= gettext "Universal datetime" %>
                        </th>
                        <th>
                          <%= gettext "Magnitude" %>
                        </th>
                        <th>
                          <%= gettext "Latitude" %>
                        </th>
                        <th>
                          <%= gettext "Longitude" %>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= for event <- @past_seismicity do %>
                        <tr>
                          <td><%= format_date(event.preferred_origin.time, @locale) |> link(to: Routes.event_path(@conn, :show, @locale, event.id)) %> <%= format_time(event.preferred_origin.time) |> link(to: Routes.event_path(@conn, :show, @locale, event.id)) %></th>
                        <td><%= format_magnitude(event.preferred_magnitude.magnitude) |> link(to: Routes.event_path(@conn, :show, @locale, event.id)) %></th>
                        <td><%= format_latitude(event.preferred_origin.latitude) |> link(to: Routes.event_path(@conn, :show, @locale, event.id)) %></td>
                        <td><%= format_longitude(event.preferred_origin.longitude) |> link(to: Routes.event_path(@conn, :show, @locale, event.id)) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<script src="<%= Routes.static_path(@conn, "/js/events.js") %>"></script>
<script src="<%= Routes.static_path(@conn, "/js/tabs.js") %>"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    map = EventMap('map-event-id-<%= @event.id %>', <%= @event.preferred_origin.longitude %>, <%= @event.preferred_origin.latitude %>)
      .addZoomControl()
      .fitBounds(<%= @event.preferred_origin.longitude - 1 %>, <%= @event.preferred_origin.latitude - 1 %>, <%= @event.preferred_origin.longitude + 1 %>, <%= @event.preferred_origin.latitude + 1 %>)
      .addEvent(<%= @event.preferred_origin.longitude %>, <%= @event.preferred_origin.latitude %>, <%= @event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, @event.id) %>', <%= if @event.preferred_magnitude.magnitude > 3, do: 'null', else: 12 %>)

    EventMap('map-event-id-<%= @event.id %>-past-seismicity', <%= longitude %>, <%= latitude %>)
      .fitBounds(<%= longitude - 1 %>, <%= latitude - 1 %>, <%= longitude + 1 %>, <%= latitude + 1 %>)
      .addZoomControl()
      .addEvent(<%= @event.preferred_origin.longitude %>, <%= @event.preferred_origin.latitude %>, <%= @event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, @event.id) %>', null)
      <%= for event <- @past_seismicity do %>
      .addEvent(<%= event.preferred_origin.longitude %>, <%= event.preferred_origin.latitude %>, <%= event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, event.id) %>', '<%= Web.Filters.event_description(event) %>')
      <% end %>

    Tabs('tabs-with-content')
  })
</script>
