<%
projects = [
%{name: "Bulma", url: "https://bulma.io/"},
%{name: "Font Awesome", url: "https://fontawesome.com/"},
%{name: "Elixir", url: "https://elixir-lang.org/"},
%{name: "Phoenix Framework", url: "https://phoenixframework.org/"},
%{name: "PostgreSQL", url: "https://www.postgresql.org/"}
]
%>
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
        <li class="is-active"><a href="#"><%= gettext "About" %></a></li>
      </ul>
    </nav>
    <div class="content">
      <h1>Namazu</h1>
      <h1>Based on Open Source project</h1>
      <table class="table is-striped">
        <thead>
          <tr>
            <th><%= gettext "Project name" %></th></th>
            <th><%= gettext "Official website" %></th></th>
          </tr>
        </thead>
        <tbody>
        <%= for project <- projects do %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.url |> link(to: project.url) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
