<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
        <li class="is-active"><a href="#"><%= gettext "Actors" %></a></li>
      </ul>
    </nav>
    <div class="content">
      <table class="table is-striped">
        <thead>
          <tr>
            <th></th>
            <th><%= gettext "Name" %></th></th>
            <th><%= gettext "Official website" %></th></th>
          </tr>
        </thead>
        <tbody>
          <%= for actor <- @actors do %>
          <tr>
            <td><%= country_flag(@conn, actor.country_iso2) %></td>
            <td><%= actor.name %></td>
            <td><%= actor.url |> link(to: actor.url) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
