<%= if @contact_address_latitude do %>
<div style="height: 400px;" class="has-background-link" id="map-address"></div>
<% end %>
<section class="section">
  <div class="container">
    <%# <nav class="breadcrumb" aria-label="breadcrumbs"> %>
    <%#   <ul> %>
    <%#     <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %1>"><%= gettext "Home" %1></a></li> %>
    <%#     <li class="is-active"><a href="#"><%= gettext "Contact" %1></a></li> %>
    <%#   </ul> %>
    <%# </nav> %>
    <nav class="level">
    <%= if @contact_email do %>
    <%= Web.Bulma.level_item(gettext("Email"), @contact_email |> link(to: "mailto:#{@contact_email}")) %>
    <% end %>
    <%= if @contact_phone do %>
    <%= Web.Bulma.level_item(gettext("Phone number"), @contact_phone |> link(to: "tel:#{@contact_phone}")) %>
    <% end %>
    <%= if @contact_address do %>
    <%= Web.Bulma.level_item(gettext("Address"), @contact_address |> markdown()) %>
    <% end %>
    </nav>
  </div>
</section>
<%= if @contact_address_latitude do %>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    var coordinates = [<%= @contact_address_latitude %>, <%= @contact_address_longitude %>]
    var map = L.map('map-address', {
      center: coordinates,
      keyboard: false,
      dragging: true,
      zoomControl: false,
      boxZoom: false,
      scrollWheelZoom: false,
      doubleClickZoom: true,
      tap: false,
      touchZoom: false,
      zoom: 16,
      maxZoom: 18
    })

    <%# L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', { %>
    <%#   attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', %>
    <%#   subdomains: 'abcd', %>
    <%#   minZoom: 0, %>
    <%#   maxZoom: 20, %>
    <%#   ext: 'png' %>
    <%# }).addTo(map) %>

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)

    <%# L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', { %>
    <%#   attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012' %>
    <%# }).addTo(map) %>

    <%# L.tileLayer('https://maps.heigit.org/openmapsurfer/tiles/roads/webmercator/{z}/{x}/{y}.png', { %>
    <%#   maxZoom: 19, %>
    <%#   attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> | Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' %>
    <%# }).addTo(map) %>

    L.marker(coordinates).addTo(map)
    L.control.zoom({position: 'topright'}).addTo(map)
  })
</script>
<% end %>
