<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column content has-text-justified is-half">
        <%= Namazu.get_site_description() |> markdown() %>
      </div>
      <%= for zone <- @zones do %>
      <div class="column is-half">
        <div class="card">
          <header style="height: 250px;" class="card-reader has-background-link" id="map-zone-id-<%= zone.id %>"></header>
          <div class="card-content">
            <div class="media-content">
              <p class="title"><%= zone.name |> link(to: Routes.page_path(@conn,:zone, @locale, zone.slug)) %></p>
              <p class="subtitle">
                <hr>
                <div class="content has-text-justified"><%= zone.description |> Web.Filters.markdown() %></div>
              </p>
            </div>
          </div>
          <%# <footer class="card-footer"> %>
          <%#   <a class="card-footer-item" href="<%= Routes.page_path(@conn,:zone, @locale, zone.slug) %1>"> %>
          <%#     <strong><%= gettext "Learn more" %1></strong> %>
          <%#   </a> %>
          <%# </footer> %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<script src="<%= Routes.static_path(@conn, "/js/events.js") %>"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    <%= for zone <- @zones do %>
      <% x_center = (zone.minimal_longitude + zone.maximal_longitude) / 2 %>
      <% y_center = (zone.minimal_latitude + zone.maximal_latitude) / 2 %>
      EventMap('map-zone-id-<%= zone.id %>', <%= x_center %>, <%= y_center %>)
        .addZoomControl()
        <%# .clickUrl('<%= Routes.page_path(@conn,:zone, @locale, zone.slug) %1>') %>
        .fitBounds(<%= zone.minimal_longitude %>, <%= zone.minimal_latitude %>, <%= zone.maximal_longitude %>, <%= zone.maximal_latitude %>)
        <%= for event <- zone.events do %>
        .addEvent(<%= event.preferred_origin.longitude %>, <%= event.preferred_origin.latitude %>, <%= event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, event.id) %>', '<%= Web.Filters.event_description(event) %>')
        <% end %>
    <% end %>
  })
</script>
