<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
        <li class="is-active"><a href="#"><%= @page.title %></a></li>
      </ul>
    </nav>
    <div class="content">
      <%= @page.content |> Web.Filters.markdown() %>
    </div>
  </div>
</section>
