<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
        <li class="is-active"><a href="#"><%= gettext "Webservices" %></a></li>
      </ul>
    </nav>
    <div class="content">

      <%= gettext "Work in progress" %>

    </div>
  </div>
</section>
