<div style="height: 800px;" class="has-background-link" id="map-stations" %>"></div>
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>">Home</a></li>
        <%= if @zone do %><li><a href="<%= Routes.page_path(@conn,:zone, @locale, @zone.slug) %>"><%= @zone.name %></a></li><% end %>
        <li class="is-active"><a href="#"><%= @title %></a></li>
      </ul>
    </nav>
    <div class="content">
      <h1><%= @zone.name %></h1>

      <div class="columns is-multiline">
        <%= for stations_chunk <- @stations_chunked_by_network do %>
        <%
          network = stations_chunk |> List.first() |> Map.get(:network)
          stations_count = length(stations_chunk)
        %>
        <div class="column is-half">
          <div class="box">
            <h2 class="title"><%= ngettext "Network %{network}", "Network %{network} (%{stations_count} stations)", stations_count, network: network.network_code, stations_count: stations_count %></h2>
            <h3 class="subtitle is-4"><%= network.description %></h3>
            <hr class="is-marginless" style="height: 5px; background-color: <%= network.color %>;">
            <div style="max-height: 200px; overflow-y: auto;">
              <table class="table is-fullwidth is-hoverable is-stripped is-narrow">
                <thead>
                  <tr>
                    <th>Station code</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                  </tr>
                </thead>
                <tbody>
                  <%= for station <- stations_chunk do %>
                    <% current_period = List.first(station.periods) %>
                    <tr>
                      <th><%= station.station_code %></th>
                      <td><%= current_period.latitude |> Web.Filters.format_two_digits() %></td>
                      <td><%= current_period.longitude |> Web.Filters.format_two_digits() %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<script src="<%= Routes.static_path(@conn, "/js/events.js") %>"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    map = EventMap('map-stations', 3, 45)
      .fitBounds(<%= @minimal_longitude %>, <%= @minimal_latitude %>, <%= @maximal_longitude %>, <%= @maximal_latitude %>)
      .addZoomControl()
<%= for stations_chunk <- @stations_chunked_by_network do %>
  <%= for station <- stations_chunk do %>
      <% current_period = List.first(station.periods) %>
  .addStation(<%= current_period.longitude %>, <%= current_period.latitude %>, '<%= station.network.color %>','<%= "#{station.network.network_code}.#{station.station_code}" %>')
  <% end %>
<% end %>
  })
</script>
