<div style="height: 400px;" class="has-background-link" id="map-zone-<%= @zone.slug %>"></div>
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= Routes.index_with_locale_path(@conn, :index, @locale) %>"><%= gettext "Home" %></a></li>
        <li class="is-active"><a href="#"><%= @zone.name %></a></li>
      </ul>
    </nav>
    <div class="columns is-multiline">
      <div class="column">
        <%= if Map.has_key?(@event_groups, :other_events) do %>
        <div id="tabs-with-content">
          <div class="tabs is-boxed is-medium">
            <ul>
              <li>
                <a><%= gettext "Earthquakes and automatic events" %></a>
              </li>
              <li>
                <a><%= gettext "Other events" %></a>
              </li>
            </ul>
          </div>
          <div>
            <section class="tab-content is-active">
              <%= events_table(@conn, @locale, @event_groups |> Map.get(:earthquakes_and_automatic_events), @events_count, @events_limit, gettext("Next events"), gettext("Previous events")) %>
            </section>
            <section class="tab-content is-active">
              <%= events_table(@conn, @locale, @event_groups |> Map.get(:other_events), @events_count, @events_limit, gettext("Next events"), gettext("Previous events")) %>
            </section>
          </div>
        </div>
        <% else %>
          <%= events_table(@conn, @locale, Map.get(@event_groups, :earthquakes_and_automatic_events), @events_count, @events_limit, gettext("Next events"), gettext("Previous events")) %>
        <% end %>
      </div>
      <div class="column">
        <div class="content">
          <h1><%= @zone.name %></h1>
          <%= if @zone.introduction do %>
            <%= @zone.introduction |> Web.Filters.markdown() %>
          <% end %>
          <div class="message is-link">
            <div class="message-body has-text-black">
              <p><%= gettext "You can participate to science by bringing your testimony." %></p>
              <a class="button is-fullwidth" href="http://www.franceseisme.fr/formulaire/index.php?IdSei=0">
                <span class="icon">
                  <i class="fas fa-pen-alt"></i>
                </span>
                <span>
                  <%= gettext "Have you felt an earthquake ?" %><%= gettext "Testify !" %>
                </span>
              </a>
            </div>
          </div>
          <div class="message is-primary">
            <div class="message-body has-text-black">
              <p>
                <%= gettext "We use many stations to locate events." %>
                <%= gettext "You can look the current state of the network." %>
              </p>
              <a class="button is-fullwidth" href="<%= Routes.page_path(@conn,:zone_stations, @locale, @zone.slug) %>">
                <span class="icon">
                  <i class="fas fa-project-diagram"></i>
                </span>
                <span>
                  <%= gettext "See the stations map" %>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="<%= Routes.static_path(@conn, "/js/events.js") %>"></script>
<script src="<%= Routes.static_path(@conn, "/js/tabs.js") %>"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    <% x_center = (@zone.minimal_longitude + @zone.maximal_longitude) / 2 %>
    <% y_center = (@zone.minimal_latitude + @zone.maximal_latitude) / 2 %>
    EventMap('map-zone-<%= @zone.slug %>', <%= x_center %>, <%= y_center %>)
      .addZoomControl()
      .addMagnitudeLegend()
      .fitBounds(<%= @zone.minimal_longitude %>, <%= @zone.minimal_latitude %>, <%= @zone.maximal_longitude %>, <%= @zone.maximal_latitude %>)
      <%= for event <- Map.get(@event_groups, :earthquakes_and_automatic_events) do %>
        .addEvent(<%= event.preferred_origin.longitude %>, <%= event.preferred_origin.latitude %>, <%= event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, event.id) %>', '<%= Web.Filters.event_description(event) %>')
      <% end %>
      <%= for event <- Map.get(@event_groups, :other_events, []) do %>
        .addEvent(<%= event.preferred_origin.longitude %>, <%= event.preferred_origin.latitude %>, <%= event.preferred_magnitude.magnitude %>, '<%= Routes.event_path(@conn, :show, @locale, event.id) %>', '<%= Web.Filters.event_description(event) %>')
      <% end %>

    Tabs('tabs-with-content')
  })
</script>
