<p>Quelle est votre addresse ?</p>
<p></p>
<%= form_for @changeset, @witness_address_path, fn f -> %>
<%= if @event_id do %>
  <div>
    <input type="hidden" name="testimony[event_id]" value=<%= @event_id %>/>
  </div>
<% end %>
<div>
  <input class="radio" id="witness" type="radio" name="address[address_source]" value="witness" onclick="showDiv('witness_postal_choices')" checked/>
  <label for="witness">J'ai ressenti le séisme d'un autre endroit : </label>
  <div id="witness_postal_choices">
    <%= text_input f, :street %>
  </div>
</div>
<div>
  <input id="gps" type="radio" name="address[address_source]" value="gps" onclick="getCoordinates();showDiv('gps_choices')"/>
  <label for="gps">J'ai ressenti le séisme de l'endroit où je me trouvais</label>
  <input id="latitude" value="" type="hidden" name="address[latitude]"/>
  <input id="longitude" value="" type="hidden" name="address[longitude]"/>
  <div id="gps_choices">
    <p>Votre latitude :
      <b id=text_latitude></b>
    </p>
    <p>Votre longitude :
      <b id=text_longitude></b>
    </p>
  </div>
</div>
<%= if @ask_felt_time do %>
  <div>
    <p>Quand avez-vous ressenti l'évènement ?</p>
    <input id="datePicker" type="date" name="testimony[date]" />
    <input type="time" name="testimony[time]" step="60" value="00:00" />
    <input type="hidden" id="timezone" name="testimony[utc_offset]" value= "">
  </div>
<% end %>
<br/>
<%= submit "Envoyer", class: "button is-light" %>
<% end %>
<script>
  var radio_ids = ["witness_postal_choices", "gps_choices"];

  if ("geolocation" in navigator) {
  } else {
      alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
  }

  function getCoordinates() {
      navigator.geolocation.getCurrentPosition(function (position) {
          document.getElementById('latitude').value = position.coords.latitude;
          document.getElementById('longitude').value = position.coords.longitude;
          document.getElementById('text_latitude').textContent = position.coords.latitude;
          document.getElementById('text_longitude').textContent = position.coords.longitude;

      });
  }

  function showDiv(div) {
      for (r of radio_ids) {
          if (div == r) {
              console.log("show " + div);
              document.getElementById(r).style.display = 'inline';
          } else {
              console.log("hide " + div);
              document.getElementById(r).style.display = 'none';
          }
      }
  }

  showDiv('witness_postal_choices');
  document.getElementById('witness_postal_choices').checked = true;
  document.getElementById('timezone').value = -(new Date().getTimezoneOffset() / 60); // In positive hours
  document.getElementById('datePicker').valueAsDate = new Date();
</script>
