<%= for event <- @events do %>
<event publicID="smi:namazu/event/<%= event.id %>">
  <preferredOriginID>smi:namazu/origin/<%= event.preferred_origin_id %></preferredOriginID>
  <preferredMagnitudeID>smi:namazu/magnitude/<%= event.preferred_magnitude_id %></preferredMagnitudeID>
  <type><%= Namazu.Seismic.Event.namazu_to_quakeml_event_type(event.event_type) %></type>
  <%= for origin <- event.origins do %>
<%= if origin.id == event.preferred_origin_id || @include_all_origins do %>
  <origin publicID="smi:namazu/origin/<%= origin.id %>">
    <time>
      <value><%= origin.time |> DateTime.to_iso8601() %></value>
      <%= if origin.time_uncertainty do %>
      <uncertainty><%= origin.time_uncertainty %></uncertainty>
      <% end %>
    </time>
    <latitude>
      <value><%= origin.latitude %></value>
      <%= if origin.latitude_uncertainty do %>
        <uncertainty><%= origin.latitude_uncertainty %></uncertainty>
      <% end %>
    </latitude>
    <longitude>
      <value><%= origin.longitude %></value>
      <%= if origin.longitude_uncertainty do %>
        <uncertainty><%= origin.longitude_uncertainty %></uncertainty>
      <% end %>
    </longitude>
    <depth>
      <value><%= origin.depth %></value>
      <%= if origin.depth_uncertainty do %>
      <uncertainty><%= origin.depth_uncertainty %></uncertainty>
      <% end %>
    </depth>
    <depthType><%= origin.depth_type %></depthType>
    <%= if origin.method_id do %>
    <methodID><%= origin.method_id %></methodID>
    <% end %>
    <%= if origin.earthmodel_id do %>
    <earthModelID><%= origin.earthmodel_id %></earthModelID>
    <% end %>
    <type><%= origin.origin_type %></type>
    <%= if origin.evaluation_status do %>
    <evaluationStatus><%= origin.evaluation_status %></evaluationStatus>
    <% end %>
    <evaluationMode><%= if origin.automatic do %>automatic<% else %>manual<% end %></evaluationMode>
    <%= if @include_arrivals do %>
      <%= for arrival <- origin.arrivals do %>
      <arrival publicID="smi:namazu/arrival/<%= arrival.id %>">
        <pickID>smi:namazu/pick/<%= arrival.pick_id %></pickID>
        <phase><%= arrival.phase_code %></phase>
        <%= if arrival.azimuth do %>
        <azimuth><%= arrival.azimuth %></azimuth>
        <% end %>
        <%= if arrival.distance do %>
        <distance><%= arrival.distance %></distance>
        <% end %>
        <%= if arrival.time_residual do %>
        <timeResidual><%= arrival.time_residual %></timeResidual>
        <% end %>
        <%= if arrival.time_weight do %>
        <timeWeight><%= arrival.time_weight %></timeWeight>
        <% end %>
      </arrival>
      <% end %>
    <% end %> <%# arrivals %>
  </origin>
<% end %>
  <%= for magnitude <- origin.magnitudes do %>
<%= if magnitude.id == event.preferred_magnitude_id || @include_all_magnitudes do %>
  <magnitude publicID="smi:namazu/magnitude/<%= magnitude.id %>">
    <mag>
      <value><%= magnitude.magnitude %></value>
      <%= if magnitude.magnitude_uncertainty do %>
      <uncertainty><%= magnitude.magnitude_uncertainty %></uncertainty>
      <% end %>
    </mag>
    <type><%= magnitude.magnitude_type %></type>
    <originID>smi:namazu/origin/<%= origin.id %></originID>
    <%= if magnitude.method_id do %>
    <methodID><%= magnitude.method_id %></methodID>
    <% end %>
    <%= if magnitude.station_count do %>
    <stationCount><%= magnitude.station_count %></stationCount>
    <% end %>
    <%= if magnitude.evaluation_status do %>
    <evaluationStatus><%= magnitude.evaluation_status %></evaluationStatus>
    <% end %>
  </magnitude>
<% end %>
  <% end %><%# magnitudes %>
  <% end %><%# origins %>
<%= if @include_arrivals do %>
  <%= for pick <- deduplicate_picks(event) do %>
  <pick publicID="smi:namazu/pick/<%= pick.id %>">
    <time>
      <value><%= pick.time |> DateTime.to_iso8601() %></value>
    </time>
    <%= if pick.filter_id do %>
    <filterID><%= pick.filter_id %></filterID>
    <% end %>
    <%= if pick.method_id do %>
    <methodID><%= pick.method_id %></methodID>
    <% end %>
    <phaseHint><%= pick.phase_hint_code %></phaseHint>
    <%= if pick.polarity do %>
    <polarity><%= pick.polarity %></polarity>
    <% end %>
    <waveformID networkCode="<%= pick.stream.network_code %>" stationCode="<%= pick.stream.station_code %>" locationCode="<%= pick.stream.location_code %>" channelCode="<%= pick.stream.channel_code %>">smi:namazu/stream/<%= pick.stream.id %></waveformID>
    <evaluationMode><%= if pick.automatic do %>automatic<% else %>manual<% end %></evaluationMode>
  </pick>
  <% end %>
<% end %><%# picks %>
</event>
<% end %><%# events %>
