<%= for event <- @events do %>
  <%= event.id %>|<%= event.preferred_origin.time |> DateTime.to_iso8601() %>|<%= event.preferred_origin.latitude %>|<%= event.preferred_origin.longitude %>|<%= event.preferred_origin.depth %>|Namazu|Namazu|<%= event.id %>|<%= event.preferred_magnitude.magnitude_type %>|<%= event.preferred_magnitude.magnitude %>|Namazu|World
<% end %>
